/*页面通用css*/
body {
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header{
  background-color: #242f42;
}
thead{
  font-weight: bold !important;
}

.textPage li {
    /*line-height: 28px;*/
  line-height: 14px;
}

.content-box {
  position: absolute;
  left: 220px;
  right: 0;
  top: 70px;
  bottom: 0;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
}

.content-box.content-collapse {
  left: 65px;
}

.content {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: #F0F2F5;
}

.contentWrapper{
  height: 100%;
}

.container {
  //margin: 15px;
  padding: 10px;
  border-radius: 2px;
  //box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  min-height: calc(100% - 100px);
  height: calc(100% - 20px);
  //height: 100%;
}

.crumbs {
  position: relative;
  z-index: 1;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.filter-box {
  display: flex;
}

.pLabel {
  margin-bottom: 10px;
  padding-left: 13px;
  font-size: 16px;
}

.pageTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.curp:hover {
  @include hover();
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .2s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
.el-table__body tr.current-row > td {
  background-color: #89BDFF !important;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  background-color: #DCDFE6!important;
}

/*弹窗样式修改*/
.el-dialog__header{
  background-color: #409EFF;
}
.el-dialog__title{
  color: #ffffff !important;
}
.el-dialog__headerbtn .el-dialog__close{
  color: #ffffff !important;
}
label{
  font-weight: 700;
}
.el-form-item__label{
  color: #606266 !important;
}
