server:
  port: 5000


spring:
  datasource:
    url: jdbc:mysql://192.168.94.166:3306/czcpy?serverTimezone=GMT%2B8
    username: root
    password: "zzs@123456"
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  jackson:
    time-zone: GMT+8 #解决前台传递时间到后台相差8个小时的时区问题

#mybatis-plus
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml #对应mapper映射xml文件所在路径
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl





